<nav class="nav nav-pills flex-column flex-sm-row">
    <a class="flex-sm-fill text-sm-center nav-link logo" aria-current="page" href="#">
        <i class="fas fa-shopping-basket"></i>groco
      </a>
    <a class="flex-sm-fill text-sm-center nav-link" href="#">
        <form class="d-flex search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success ml-2" type="submit">Search</button>
      </form></a>
    <a class="flex-sm-fill text-sm-center nav-link disabled ">
        <div class="info"> 
            <div class="info-1">PDC Corporation</div>
            <div class="phone">(+91) 940 360 2302</div>
        </div>
    </a>
  </nav>
